/*styles for the web visit counters*/
#hit-counter img{
    width: 50px;
}
#vistor-counter img{
    width: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Playwrite+DK+Loopet:wght@100..400&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*the whole html styles */
html{
    scroll-behavior: smooth;
    margin: 0;
    
}
body{
    margin: 0;
    padding: 0;
    font-size: small;
    background: rgba(148, 148, 148, 0.473);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    width: 100%;
    position: relative;
    background: rgba(128, 0, 0, 0.295);
    font-weight: bold;
    font-size: small;
    display: none;
}
header span img{
    width: 14px;
    height: auto;
}
header .another{
    position: absolute;
    right: 0;
}
i{
    width: 20px;
    height: auto;
    color: maroon;
}

/*styles for the menu bar (sidemenu + linemenu) */
.menu-bar{
    width: 100%;
    top: 0;
    background:  whitesmoke;
    display: inline-flex;
    height: 50px;
    padding-bottom: 5px;
    position: relative;
    position: fixed;
    box-shadow: 1px 1px 1px maroon;
     z-index: 3000;
}

  
/*the upload btn in menu bar */
.upload-btn{
    position: absolute;
    padding: 5px;
    background: none;
    border: 1px solid maroon;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    color: maroon;
    right: 20%;
    display: none;
}
.upload-btn:hover{
    background: none;
    border: 1px double maroon;
    transition: .2s ease-in-out all;
    color: maroon;
}
.upload-btn a:hover{
    color: maroon;
}

.upload-btn2{
    position: absolute;
    padding: 3px;
    background: none;
    font-weight: bold;
    border-radius: 3px;
    right: 20%;
    top: 28%;
    display: none;
    text-decoration: none;
    color: maroon;
    display: none;
}
.upload-btn2:hover{
    background: none;
    border: 1px solid maroon;
    color: maroon;
       
    
}
.upload-btn2 a:hover{
    color: maroon;
}
.upload-btn2 a{
    color: maroon;
    text-decoration: none;
}
.upload-btn a{
    color: maroon;
    text-decoration: none;
}

/*styles for web logo in the menu bar */
.logo{
    position: absolute;
    top:15%;
    right: 3%;
    width: 6rem;
}
.logo img{
    width: 100%;
    animation: rotate 3s linear infinite;
    right: 0;
}
@keyframes rotate{
    25%{
        transform: rotate(1deg);
    }
    75%{
        transform: rotate(-1deg);
    }
}

/* menu btn styling in menu bar */
.menu-btn{
    cursor: pointer;
    border: none;
    background: none;
    border:none;
    top: 25%;
    left: 5%;
    position: absolute;
    display: none;
    animation: pulse 2.5s linear infinite;
    border-radius: 2px;
    padding-top: 2px;
}
.menu-btn:hover{
    background: lightgrey;
    transition: all ease-in-out 0.3s;
}
.menu-btn img{
    width: 17px;
}

/* log in form opener styling in manu bar */
.profile-btn{
    border: none;
    background: none;
    color: bisque;
    top: 20%;
    left: 7%;
    padding: 4px;
    position: absolute;
    display: none;
}
.profile-btn img{
    width: 20px;
}
.close-btn{
    border-radius: 5px;
    border: none;
    background: none;
    color: bisque;
    top: 2.5%;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    left: 5.5%;
    cursor: pointer;
    animation: pulse 2s linear infinite;
}
.close-btn img{
    width: 15px;
}
.close-btn:hover{
    background: lightgrey;
    transition: 0.3s all ease-in-out;
}

/* linemenu styles in the menu bar*/
.linemenu{
    top: 15%;
    position: absolute;
    width: 100%;
    background: none;
    display: flex;
}
.linemenu li{
    margin-right: 15px;
    list-style: none;
}
.linemenu li a:hover{
    transition: .2s all ease-in-out;
     background: maroon;
    color: whitesmoke;
}
.linemenu li a{
    padding: 7px;
    text-decoration: none;
    font-weight: bold;
    color: maroon;
    font-family: 'Bungee-Regular',sans-serif;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 3px;
    letter-spacing: 1px;
}
.linemenu li img{
    width: 15px;
    height: auto;
}

/* sidemenu styles in the menu bar when on small screens*/
.sidemenu{
    width: 75%;
    height: 100vh;
    top: -16px;
    background: whitesmoke;
    display: none;
    position: absolute;
    z-index: 1100;
    border-bottom: 1px black solid;
    box-shadow: 3px 3px 20px;
    transition: 2s all ease-in-out;
}
.sidemenu li{
    margin: 10% 13%;
    list-style: none;
    width: 100%;
    gap: 30px;
    position: relative
}
.sidemenu li a{
    letter-spacing: 1px;
    width: 100%;
    margin-left: 3px;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: maroon;
    font-family: 'Bungee-Regular',sans-serif;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 5px;
}
.sidemenu li a:hover{
    transition: .2s all ease-in-out;
    background: maroon;
    color: whitesmoke;
}
.sidemenu li img{
    width: 15px;
    height: auto;
}
/*another titlle styling e.g  "LATEST MUSIC"*/
h3{
    width: 83%;
    margin: 1%;
    margin-top: 2.5%;
    background: none;
    border-bottom: 1px solid maroon;
    color: maroon;
    font-weight: bold;
    padding-bottom: 3px;
    font-family: ConcertOne-Regular, sans-serif;
    letter-spacing: 3px;
    text-align: left;
    
}
h3 img{
    width: 12px;
    height: auto;
}
.news{
    width: 100%;
    margin: 0;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news-section{
    display: flex;
    width: 100%;
    margin: 0;
    text-align: center;
    place-content: center;
     
}
/*main page content in many pages like home, e.t.c*/
#main-content{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

    
}

/*list for songs on the home page*/
#music-list{
    display: ruby;
    text-align: center;
    margin-top: 2%;
}

/*the scroll to top btn styling in the footer*/
#scroll-top img{
    width: 25px;
    height: auto;
    padding: 5px;
    right: 1%;
    top: 92%;
    position: fixed;
    background: whitesmoke;
    border-radius: 50%;
    border: 1px solid maroon;
   
}

/*the whatsapp link in the footer*/
#wap-link img{
    width: 35px;
    height: auto;
    left: 1%;
    top: 92%;
    position: fixed;
    background: none;
    border: 1px solid maroon;
    border-radius: 50%;
    
}

/*styles for search bar in main pages like HOME TRENDING, ALBUMS e.t.c*/
.search-bar{
    background: rgb(245, 245, 245);
    box-shadow: 0px 0px 2px maroon;
    padding: 4px;
    border-radius: 5px;
    margin-top: 2%;
    width: 82%;
   display: flex;
   position: relative;
  
}
#search-music{
    background: none;
    border: none;
    outline: none;
    padding: 5px;
    height: 100%;
    width: 100%;
    margin: 0;
   
}
.src-btn{
   border: none;
   background: none;
   cursor: pointer;
   display: block;
   margin-right: 2%;
}
.src-btn img{
    width: 17px;
}

/*styles for the div containing music page link on the home page*/
.musicitem{
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.568);
    width: 20.5%;
    height: auto;
    display: block;
    border-radius: 5px;
    padding: .7em;
    margin-top: 2%;
    text-align: center;
    margin: 1%;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.musicitem div{
    display: block;
    font-size: small;
}
.musicitem:hover{
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
     
}
.artwork-div{
    position: relative;
}
.genre-pic{
    position: absolute;
    bottom: 7px;
    left: 1%;
    background: maroon;
    padding: 4px;
    color: whitesmoke;
    font-size: smaller;
    border-radius: 1px;
    font-family: sans-serif;
    font-weight: bold;
   
}

/*styling the dl btn on the musicitem div on the home page*/
#dl-on{
    position: absolute;
    width: 20px;
    padding: 2px;
    right: 6px;
    display: none;

    
}
#dl-on img{
    width: 100%;
    height: auto;
    padding: 2px;
     background: whitesmoke;
     border: 1px solid maroon;
      border-radius: 25%;
}
.artwork{
    text-align: justify;
    width: 100%;
    height: auto;
    border-radius: 2px
    
}
.artwork:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.568);
}


/*music name on the musicitem on the home page*/
.music-link{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    color: black;
    font-size: 15px;
}
.music-link:hover{
    color: black;
    text-shadow: 1px 1px 3px;
}

/*artist name styling on musicitem div on the home page*/
.h2{
    color: black;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-top: .5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}
.h2:hover{
    color: maroon;
     text-shadow: 1px 1px 3px;
}

/*styling the div cotaining date posted and viewers # in musicitem div, home page*/
.blw-item{
   display: flex;
   padding-left: 2px;
   width: 100%;
   height: auto;
   font-family: 'Thunder Lord',Arial, sans-serif; 
   font-weight: bold;
   font-size: 12px;
   border-top: .5px solid rgb(128, 0, 0);
   padding-top: 2px;
   gap: 5px;
   position: relative;
   letter-spacing: 2px;
   color: maroon;
}
.blw-item img{
    width: 10px;
    height: auto;
    margin-right: 2px;
}
.post-date{
    display: inline;
    margin-left: 0px;
}
.downloads{
    display: none;
    border-left: 1px maroon solid;
}
.song-no{
    display: inline;
    padding-left: 4px;
    position: absolute;
    right: 0;
}

/*real music page styles*/
.mn-ct-music{
    width: 90%;
    height: auto;
    display: flex;
    background: whitesmoke;
    margin-top: 1%;
    margin-bottom: 7%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.music{
    width: 55%;
    background: none;
    text-align: right;
}
.music img{
    width: 75%;
    height: auto;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(58, 5, 5, 0.719);
    border: none;
    margin: 0;
    margin-top: 2%;
}
.music-page{
    display: flex;
    width: 100%;
}
.info{
    background: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
h5{
   color: black;
   font-family: 'Orbitron-Bold';
   font-size: large;
   text-align: center;
   width: 100%;
   margin: 0;
   margin-top: 7px;
   display: none;
   letter-spacing: 1px;
   font-weight: bold;
   
}
h6{
    color: black;
   font-family: 'Orbitron-Bold';
   font-size: large;
   text-align: center;
   width: 100%;
   margin: 2%; 
   letter-spacing: 1px;
   font-weight: bold;
}
.real-info{
    display: ruby;
    width: 100%;
}
.info img{
    width: 9px;
    height: auto;
}
.info p{
    margin: 2%;
    color: rgb(73, 48, 2);
    text-align: center;
    

}
.info p a img{
    width: 37px;
}
b{
    color: rgba(128, 0, 0, 0.774);
    font-family: MozillaHeadline;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: small;
}

.audio{
    width: 100%;
    text-align: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    display: grid;
    margin: 0;
}
.audio p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
}
audio{
    background: maroon;
    padding: 2px;
    border-radius: 10px;
}
.dl-btn{
    background: maroon;
    color: whitesmoke;
    border: .5px solid maroon;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    font-size: smaller;
    font-family: Hai Brush Demo;
    letter-spacing: 2px;
    padding: 5px;
    margin: 0;
}
.dl-btn:hover{
    background: none;
    color: maroon;
    border: .5px solid maroon;
    transition: all .3s ease-in-out;
}
.zip-dl{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    position: relative;
}
.zip-dl a{
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
    color: maroon;
    border: 1px solid maroon;
    border-radius: 3px;
    font-family: Hai Brush Demo;
    font-size: small;
    margin-top: 5%;
}
.zip-dl a:hover{
    color: black;
    border: 1px solid black;
    transition: .3s ease-in-out all;
}
#exteternal-btns{
    margin-top: 0px;
    height: auto;
    display: none;
    width: 100%;
    height: 100px;
    position: relative;
}
#exp-more{
    text-decoration: none;
    color: rgb(10, 0, 0);
    font-weight: bold;
    position: absolute;
    left: 5%;
    bottom: 0;
    border: .5px solid maroon;
    padding: 3px;
}
#exp-more img{
    width: 25px;
    height: auto;
}
.share-div{
    position: absolute;
    display: flex;
    right: 3%;
    bottom: 0;
    padding: 2px;
    border-radius: 9px;
    text-align: right;
    background: none;
}
.copy-album-link{
    position: absolute;
    display: flex;
    right: 0%;
    bottom: 35%;
    padding: 2px;
    border-radius: 9px;
    text-align: right;
    background: none;
}
.copy-album-link input{
    display: none;
}
.share-input{ 
    background: none;
    padding: 2%;
    border: 1px solid rgba(128, 0, 0, 0.377);
    border-radius: 4px;
    color: gray;
    margin: 0;
    width: 100%;
    font-weight: bold;
    display: none;
}
.share-input:focus{
    outline: none;
}
.share-btn{
    background: none;
    cursor: pointer;
    padding: 3px;
     color: maroon;
     font-weight: bold;
     font-family: monospace;
     display: inline;
     outline: none;
     border: .5px solid maroon;
}
.share-btn img{
    width: 25px;
    height: auto;
}
#exp-more:hover{
    color: maroon;
}

h4{
    padding: 5px;
    color: maroon;
}

/*related posts styling on the real music page, artist page and trending page*/
.related-posts{
    margin-top: 1%;
    background: none;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.related-posts-music{
    width: 100%;
    height: auto;
    display: ruby;
}

/*real music div in related posts section*/
.music-rltd{
    width: 30%;
    height: auto;
    display: flex;
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    margin-top: .5rem;
    margin-left: 1.5rem;
    font-size: smaller;
    position: relative;
    box-shadow: 0px 0px 1px maroon;
     animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}
.number-spn{
    border: 1px solid maroon;
    border-radius: 50px;
    position: absolute;
    right: 3%;
    padding: 1%;
    color: maroon;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.music-rltd:hover{
    width: 29.9%;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 4px maroon;
}
.music-rltd-art{
    padding: 1%;
    border-right: .5px solid rgb(116, 37, 37);
    width: 30%;
    height: auto;
}
.music-rltd-art img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px whitesmoke solid;
}
.music-rltd-link{
    width: 100%;
    padding: 1%;
    padding-left: 2%;
    display: block;
    position: relative;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.music-rltd-link a{
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
}
.music-rltd-link a b{
    color: black;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.music-rltd-link a img{
    width: 14px;
    height: auto;
}
.dl-btn-rltd{
    position: absolute;
    right: 5%;
    padding: 3px;
    bottom: 10%;
    background: none;
    border: none;

}
.dl-btn-rltd img{
    width: 15px;
    height: auto;
}
.genre-id{
    background: none;
    padding: 4px;
    padding-left: 0;
    font-size: 11px;
    color: rgb(87, 87, 87);
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
   
}
#single_ep{
    background: none;
    padding: 4px;
    font-size: 11px;
    color: rgb(87, 87, 87);
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}
.music-rltd-blw{
    background: none;
    width: 100%;
    color: black;
    font-family: 'Thunder Lord', Arial, sans-serif; 
    letter-spacing: 1px;
    color: maroon;
    position: absolute;
    bottom: 5%;
}
.id{
    display: none;
    margin-left: 1%;
    border-left: 1px solid maroon;
}
.music-rltd-blw span{
    text-align: center;
    font-size: 11px;
}
.music-rltd-blw img{
    width: 9px;
    margin-right: 1%;
}
.blw-page{
    width: 100%;
    height: auto;
    margin-top: 2%;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all-artists{
    margin-top: 1rem;
    display: ruby;
    width: 90%;
    text-align: center;
    background: whitesmoke;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.artist-div{
    display: grid;
    padding: 2px;
    width: 10%;
    margin: 4.5%;
    margin-top: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid maroon;
    text-align: center;
     animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}
.artist-div img{
    border: 1px solid whitesmoke;
    width: 55%;
    height: auto;
    border-radius: 25%;
}
.artist-div img:hover{
    border: 1.5px solid maroon;
}
.artist-div div{
    color: maroon;
    position: relative;
    width: 100%;
    letter-spacing: 1px;
} 
.artist-div div a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
     font-family: 'Orbitron-Bold';
     letter-spacing: 1px;
}
.artist-div div a:hover{
    color: maroon;
    transition: .3s;
}
#art-genre{
    font-size: small;
    font-family: Thunder Lord;
}
.blocked{
    width: 100%;
    display: block;
    margin-left: 2%;
    margin-top: 2%;
}
.blocked span{
    margin: 3%;
}
.blocked span a{
    text-decoration: none;
    color: black;
}
.top-albums{
    width: 100%;
    margin: .5rem;
     position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.top-videos{
    width: 100%;
    background: none;
    margin: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.artist-details{
    padding-top: 2%;
    display: flex;
    background: none;
}
.art-work{
    width: 35%;
 
}
.art-work img{
    width: 65%;
    height: auto;
    border-radius: 2%;
    padding: 1%;
    border: 1px solid white;
}
.art-bio{
    width: 90%;
    background: #f5f5f5;
    border-top: 1px solid maroon;
    padding: 2%;
    text-align: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.art-bio p{
    font-size: smaller;
    color: black;
    margin-left: 1%;
    font-family: 'Orbitron-Bold';
}
.art-bio p b{
    font-size: 11px;
}
.art-bio p b a img{
    width: 30px;
}
.art-bio p img{
    width: 9px;
}
.albums{
    width: 100%;
    display: ruby;
}
.album-info-tt{
            font-weight: bold;
            color: rgba(128, 0, 0, 0.479);
            text-shadow: 1px 1px 1px maroon;
            font-family: 'Orbitron-Bold';
        }


footer{
    width: 100%;
    background: whitesmoke;
    margin-top: 10%;
    display: block;
    text-align: center;
    z-index: 3000;
}
.social-links{
    text-align: center;
}

.in-tc{
    padding-left: 10%;
    padding-right: 10%;
    color: maroon;
    font-family: RobotoMono-Regular,sans-serif;
}
.discr{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
    color: maroon;
    font-family: RobotoMono-Regular,sans-serif;
    border-bottom: 1px solid maroon;
    display: grid;

}
.footer-ul{
text-align: center;
display: grid;
margin: 0;
border-bottom: 1px solid maroon;
margin-left: 10%;
    margin-right: 10%;
}
h1{
    margin: 0;
    display: none;
}
.footer-ul li{
    list-style-type: none;
    margin: 2%;
    text-align: center;
}
.footer-ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-ul li a:hover{
    color: maroon;
    font-weight: bold;
}
.links img{
    background: rgba(128, 0, 0, 0.747);
    border-radius: 10px;
    width: 17px;
    height: auto;
    padding: 5px;
    margin: 10px;
}
.links img:hover{
    background: black;
}

#main-footer{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    color: maroon;
   font-family: ConcertOne-Regular, sans-serif;
   
}






@keyframes scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}



@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    20%{
        box-shadow: 0 0 0 1px rgba(128, 0, 0, 0.295);
    }
    50%{
        box-shadow: 0 0 0 1px rgba(128, 0, 0, 0.548);
    }
    70%{
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.397);
    }
    80%{
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.199);
    }
    100%{
        box-shadow: whitesmoke;
    }
}



   
@media (max-width:1500px){
    .profile-btn{
        border: none;
        background: none;
        color: bisque;
        margin-top: 5px;
        margin-left: 45px;
        padding: 4px;
        position: absolute;
        display: none;
    }
}


@media (max-width:870px) {
    .menu-btn{
        display: block;
    }
    .linemenu{
        display: none;
    }
    .slide-pane a img{
    width: 50%;
    
}
    h5{
    display: block;
}
h6{
    display: none;
}
    .artist-div{
    width: 10%;

}
    
    .musicitem{
        margin-top: 2.5%;
        width: 45%;
        display: grid;
        height: auto;
        justify-items: center;
        align-items: center;
    }
   
    .artwork{
        width: 85%;
        height: auto;
    }
    .search-bar{
        position: static;
    }
    .mn-ct-music{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .music{
        text-align: center;
    }
    .info{
        margin: 3%;
    }
.related-posts-music{
    display: ruby;
}
.music-rltd{
    width: 43%;
    display: flex;
   
}
.music-rltd:hover{
    width: 41%;
    transition: all .2s ease-in-out;
}
.musicians{
    width: 50%;
}
.artist-sec{
    width: 95%;
}

    
    
}



@media (max-width:740px) {
    .upload-btn2{
        display: none;
    }
    .musicitem{
        width: 45%;
        height: auto;
        justify-items: center;
        align-items: center;
    }
    .artwork{
        width: 85%;
        height: auto;
    }
    .profile-btn{
        border: none;
        background: none;
        color: bisque;
        margin-top: 5px;
        margin-left: 45px;
        padding: 4px;
        position: absolute;
        display: none;
    }
    .search-bar{
        position: static;
    }
    .mn-ct-music{
        display: block;

    }
    .music{
    width: 100%;
    margin-top: 4px;
   }
   .music img{
    margin: 0;
   }
   .info{
    width: 100%;
    margin: 0;
    margin-top: 5px;
   }

    .artist-details{
    display: block;
    text-align: center;
}
.art-work{
    width: 80%;
}
.art-bio{
    width: 85%;

}
.musicians{
    width: 60%;
   
}
.albums{
    width: 100%;
    position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
}
}
    




@media (max-width:560px) {
    .video{
        width: 40%;
        height: 40%;
    }
    .sc-links div{
        width: 45%;
    }
    .artist-details{
             padding: 1%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    }
    .contact-div{
         padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    }
    .user-input{
            margin: 0;
        }
     .user-input input{
        height: 40px;
     }
      .submit-btn{
         height: 40px;
      }
    .musicitem{
        margin-top: 2.5%;
        width: 75%;
        display: grid;
        height: auto;
        padding: 20px;
       
    }
    #music-list{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .artwork{
        width: 100%;
        height: auto;
    }
    .mn-ct-music{
        display: block;

    }
    
    .related-posts{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
     
     .related-posts-music{
         position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }
     .music-rltd{
    width: 85%;
    margin: 0;
    margin-top: .4rem;

   
   }
     .music-rltd:hover{
    width: 84.5%;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 4px maroon;
    }
     .new-videos{
        width: 95.5%;
     }
     .top-albums{
        width: 95.5%;
    }
    .top-videos{
        width: 95.5%;
    }
    .msc-art-page{
        width: 98%;
    }
    .artist-div{
        width: 23%;
        margin: 3%;
    }
    .album-div{
    width: 35%;
    margin-left: 1rem;

}

}
@font-face {
    font-family: Bungee-Regular;
    src: url(webfonts/Bungee-Regular.ttf);
}

@font-face {
    font-family: maiden;
    src: url(webfonts/maiden.TTF);
}

@font-face {
    font-family: Hai Brush Demo;
    src: url(webfonts/Hai\ Brush\ Demo.otf);
}

@font-face {
    font-family: MozillaHeadline;
    src: url(webfonts/MozillaHeadline_SemiCondensed-Regular.ttf);
}

@font-face {
    font-family: NechaNecho;
    src: url(webfonts/NechaNecho.otf);
}

@font-face {
    font-family: Orbitron-Bold;
    src: url(webfonts/Orbitron-Bold.ttf);
}

@font-face {
    font-family: Rafika;
    src: url(webfonts/Rafika.otf);
}

@font-face {
    font-family: Rebelion;
    src: url(webfonts/Rebelion.otf);
}

@font-face {
    font-family: SimpleRounded;
    src: url(webfonts/SimpleRounded.ttf);
}

@font-face {
    font-family: Thunder Lord;
    src: url(webfonts/Thunder\ Lord.ttf);
}

@font-face {
    font-family: RobotoMono-Regular;
    src: url(webfonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: ConcertOne-Regular;
    src: url(webfonts/ConcertOne-Regular.ttf);
}